.contact{
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

form{
    width: 150%;
    max-width: 600px;
}


.input-group{
    margin-bottom: 30px;
    position: relative;
}

input, textarea{
    height: 50px;
    width: 100%;
    padding: 0px;
    outline: 0;
    border: 1.5px solid #e6d894;
    color: #e6d894;
    background: transparent;
    font-size: 14px;
    box-shadow: 5px 10px 9px #d5d5d5bb;
    border-radius: 8px;

}
textarea{
    height: 200px;
}

label{
    height: 100%;
    position:absolute;
    left: 0;
    top: 0;
    color: #7f7f7f;
    cursor: text;
    transition: 0.2s;
    display: grid;
    grid-template-columns: 20px 150px;
    align-items: center; 
    font-size: 14px;
    margin-left: 10px;
}

.input-group .z8 {
    height: 0;
    padding-top: 10px;
}

#btn1{
    padding: 10px 0;
    outline: none;
    background: transparent;
    border: 1.5px;
    width: 100%;
    cursor: pointer;
    box-shadow: 5px 10px 9px #d5d5d5;
    background-color: #e6d894;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

input:focus~label,
input:valid~label
{
    top: -35px;
    font-size: 14px;
}
textarea:focus~label,
textarea:valid~label{
    top: -30px;
    font-size: 14px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.row .input-group{
    flex-basis: 48%;
}


.label-message{
    height: 10vh;

}

.title{
    font-size: 40px;
    font-weight: 500;
    color: #7f7f7f;
}

